@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

hr {
  border: none;
  height: 0.3rem;
  background-color: #75787E;
}

@font-face {
  font-family: "Tenor Sans";
  src: url(../../assets/typo/TenorSans-Regular.ttf);
}
.header-section {
  background-color: #222831;
  padding: 1.875rem;
}
.header-section h1 {
  text-align: center;
  text-transform: uppercase;
}
.header-section h1 a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 4.375rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

footer {
  color: #d9d9d9;
  text-align: center;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  padding: 2.5rem;
  background-color: #222831;
}
footer .footer-container .footer-column {
  background-color: #393E46;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.55rem;
  text-transform: uppercase;
}
footer .footer-container .footer-column h3 {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  border-bottom: 0.0625rem solid #c0b2a3;
  padding: 0.5625rem;
}
footer .footer-container .footer-column ul {
  list-style: none;
}
footer .footer-container .footer-column a {
  color: #d9d9d9;
  text-decoration: none;
  display: block;
  line-height: 1.4rem;
  margin: 5px 0;
  font-size: 0.8rem;
  letter-spacing: 0.125rem;
}
footer .footer-bottom {
  background-color: #393E46;
  padding: 0.625rem;
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  justify-content: center;
}

.main-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-headings {
  background-color: #9f9587;
  text-decoration: none;
}
.section-headings h2 {
  color: #d9d9d9;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  padding: 1.2rem;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #9f9587;
  padding: 1rem 1rem;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #d9d9d9;
  cursor: pointer;
  z-index: 1000;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222831;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #d9d9d9;
  border-radius: 0.55rem;
  padding: 0.7rem 1rem;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.nav-menu a:hover {
  background-color: rgba(159, 149, 135, 0.5803921569);
  color: #ffffff;
  font-weight: 900;
  box-shadow: 1px 2px 8px #222831;
}

.nav-account {
  display: flex;
  gap: 0.625rem;
  list-style: none;
}

.nav-account li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  color: #222831;
  border-radius: 0.55rem;
  padding: 0.3rem 1rem;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.nav-account li a:hover {
  background-color: rgba(159, 149, 135, 0.5803921569);
  color: #ffffff;
  box-shadow: 1px 2px 8px #222831;
}

.nav-account svg {
  width: 2rem;
  height: 2rem;
}

.search-form {
  display: flex;
}

.search-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  color: rgba(57, 62, 70, 0.8549019608);
  border: none;
  border-radius: 0.55rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.search-toggle:hover {
  background-color: rgba(159, 149, 135, 0.5803921569);
  color: #ffffff;
  box-shadow: 1px 2px 8px #222831;
}

.icon-search {
  width: 1.6rem;
  height: 1.6rem;
  stroke: #222831;
  fill: none;
  stroke-width: 2;
}

.search-input {
  width: 0;
  margin-left: 0;
  border: none;
  border-radius: 0.55rem;
  background: #e5e5e5;
  color: #9f9587;
  font-size: 0.8rem;
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  outline: none;
  text-transform: uppercase;
}

.search-form.active .search-input {
  width: 10rem;
  padding: 0.4rem;
}

.search-form.active .search-toggle {
  display: none;
}

.bundles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-items: center;
  align-items: center;
  background-color: #222831;
  padding: 2.5rem;
}

.bundle {
  background-color: #393E46;
  padding: 1.4rem;
  border-radius: 0.55rem;
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
}
.bundle:hover {
  background-color: rgba(159, 149, 135, 0.5803921569);
}
.bundle h3 {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem;
}
.bundle img {
  width: 100%;
  height: auto;
  border-radius: 0.55rem;
  padding: 0.5rem;
}

.models-section {
  display: grid;
  grid-template-columns: 3;
  gap: 2.5rem;
  justify-items: 2.5rem;
  align-items: center;
  background-color: #222831;
}

.models-card {
  background-color: #393E46;
  padding: 1.4rem;
  border-radius: 0.55rem;
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
}
.models-card:hover {
  background-color: rgba(159, 149, 135, 0.5803921569);
}
.models-card h3 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem;
  color: #d9d9d9;
}
.models-card img {
  width: 100%;
  height: auto;
  border-radius: 0.55rem;
  padding: 0.5rem;
}

.items-list {
  display: flex;
  flex-direction: column;
  background-color: #393E46;
  color: #d9d9d9;
  padding: 2rem;
  border-radius: 0.55rem;
}
.items-list ul {
  list-style: none;
  padding: 0;
}
.items-list li {
  padding: 1rem 0;
  border-bottom: 1px solid #c0b2a3;
}
.items-list li:last-child {
  border-bottom: none;
}

.about-section {
  background-color: #222831;
  justify-items: center;
  padding: 2.5rem 2.5rem 0;
}

.about-text {
  background-color: #393E46;
  padding: 3.125rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  border-radius: 0.55rem;
  color: #d9d9d9;
  line-height: 1.5;
}

.account-section {
  background-color: #222831;
  padding: 2.5rem;
  justify-items: center;
}

.account-input {
  width: 100%;
  padding: 3.125rem;
  background-color: #393E46;
  border-radius: 0.55rem;
}
.account-input label {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
}
.account-input button {
  background-color: #d9d9d9;
  color: #222831;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.models-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 2.5rem;
  justify-items: center;
  align-items: center;
  background-color: #222831;
}

.models {
  background-color: #393E46;
  border-radius: 0.55rem;
  padding: 1.4rem;
}
.models h3 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #d9d9d9;
  padding-bottom: 0.5rem;
}
.models img {
  width: 100%;
  height: auto;
  border-radius: 0.55rem;
}

.model {
  background: #222831;
  padding: 2.5rem;
}

.models-detail {
  display: flex;
  gap: 2rem;
  background: #393E46;
  border-radius: 0.55rem;
  padding: 2.5rem;
  color: #d9d9d9;
}

.model-info {
  color: #d9d9d9;
  text-align: left;
  font-size: 1.1rem;
  line-height: 3rem;
}

.accessories-section {
  background-color: #222831;
  padding: 2.5rem;
  justify-items: center;
}

.fragances-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 2.5rem;
  justify-items: center;
  align-items: center;
  background-color: #222831;
}

.fragances {
  background-color: #393E46;
  border-radius: 0.55rem;
  padding: 2rem;
}
.fragances img {
  width: 100%;
  height: auto;
  border-radius: 0.55rem;
}

/*# sourceMappingURL=styles1.css.map */
