footer {
  color: map-get($colors, text-main);
  text-align: center;

  .footer-container {
    @include grid (1fr 1fr 1fr, 2.5rem, 2.5rem);

    .footer-column {
      background-color: $color-bg-medium;
      padding: map-get($paddings, footer-column);
      border-radius: $border-radius-main;
      text-transform: uppercase;

      h3 {
        letter-spacing: map-get($spacings, h3);
        font-size: map-get($font-sizes, h3);
        margin-bottom: 0.8rem;
        border-bottom: map-get($border-bottom, main);
        padding: 0.5625rem;
      }

      a {
        color: map-get($colors, text-main);
        line-height: 2rem;
        font-size: 0.8rem;
        letter-spacing: map-get($spacings, a);
        padding: 0.5rem;
      }
    }
  }

  .footer-bottom {
    background-color: map-get($colors, bg-card);
    padding: 0.625rem;
    font-size: map-get($font-sizes, footer-bottom);
    letter-spacing: map-get($spacings, footer-bottom);
    text-align: center;
    text-transform: uppercase;
  }
}
