.header-section {
  background-color: map-get($colors, bg-main);
  padding: 1.875rem;

  h1 {
    text-align: center;
    text-transform: uppercase;

    a {
      color: map-get($colors, text-main);
      text-decoration: none;
      font-size: 4.375rem;
      letter-spacing: 0.2rem;
      font-weight: 500;
    }
  }
}