
.about-section {
  background-color: #222831;
  justify-items: center;
  padding: 2.5rem 2.5rem 0;
}

.about-text {
  background-color: #393E46;
  padding: 3.125rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
  border-radius: .55rem;
  color: #d9d9d9;
  line-height: 1.5;
}

.account-section {
  background-color: #222831;
  padding: 2.5rem;
  justify-items: center;
}

.account-input {
  width: 100%;
  padding: 3.125rem;
  background-color: #393E46;
  border-radius: .55rem;

  label {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: .9375rem;
    letter-spacing: .125rem;
  }

  button {
    background-color: #d9d9d9;
    color: #222831;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.bundles {
  @include grid(repeat(3, 1fr), 2.5rem, 2.5rem, center, center);
  background-color: $color-bg-dark;
  padding: $padding-section;
}

.models-section {
  @include grid(1fr 1fr 1fr, 2.5rem, 2.5rem, center, center);
  background-color: $color-bg-dark;
}
  
.model {
  background: #222831;
  padding: 2.5rem;
}

.models-detail {
  display: flex;
  gap: 2rem;
  background: #393E46;
  border-radius: .55rem;
  padding: 2.5rem;
  color: #d9d9d9;
}

.model-info {
  color: #d9d9d9;
  text-align: left;
  font-size: 1.1rem;
  line-height: 3rem;
}

.accessories-section {
  background-color: #222831;
  padding: 2.5rem;
  justify-items: center;
}

.fragances-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  padding: 2.5rem;
  justify-items: center;
  align-items: center;
  background-color: #222831;
}

.fragances {
  background-color: #393E46;
  border-radius: .55rem;
  padding: 2rem;

  img {
    width: 100%;
    height: auto;
    border-radius: .55rem;
  }
}

.cart-input { 
  @include flex (row, center, center, 0);
  background-color: $color-bg-dark;
  padding: $padding-section;

  div {
    @include card-base
  }

  p {
    color: map-get($colors, text-main);
    font-size: map-get($font-sizes, base);
    letter-spacing: map-get($spacings, p);
  }
}

.cart-details {
  @include grid (1fr 1fr, 2.5rem, center, center);
  background-color: $color-bg-dark;
  padding: map-get($paddings, section);
  justify-items: center;
}

.items-list {
  @include card-base;
}

.cart-summary {
  @include card-base;

  li {
    font-size: map-get($font-sizes, base);
    padding: map-get($paddings,card-gap);
  }

}