.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: map-get($font-sizes, nav);
  color: $color-text-main;
  cursor: pointer;
  z-index: 1000;
}

.cart-summary button {
    background-color: $color-bg-input;
    color: $color-bg-dark;
    border: none;
    border-radius: 0.2rem;
    padding: map-get($paddings, nav-search-acc-cart);
    margin-top: 1rem;
    font-size: map-get($font-sizes, base);
    text-transform: uppercase;
    cursor: pointer;
}