.items-list {
    li {
        padding: 1rem 0;
        border-bottom: 1px solid #c0b2a3;
        &:last-child {
        border-bottom: none;
        }
    }
}


.cart-summary {
    ul {
        padding-bottom: 1rem;
    }

    li {
    padding: 1rem 0;
    border-bottom: 1px solid #c0b2a3;
    }
}
