
nav {
  @include flex (row, space-between, center);
  background: map-get($colors, navbar-bg);
  padding: map-get($paddings, nav-button-padding);

    .nav-menu {
    @include flex (row, center, center);
    gap: 1rem;
    }
    
      a {
        @include nav-a
      }
}



.nav-account {
  display: flex;
  gap: .625rem;
  


    svg {
      width: map-get($icon-sizes, nav-account);
      height: map-get($icon-sizes, nav-account);
  }
}

.search-form {
  display: flex;
}

.search-toggle {
  @include flex (row, center, center, 0);
  background-color: map-get($colors, button-bg);
  color: map-get($colors, text-dark);
  border: none;
  border-radius: $border-radius-main;
  padding: map-get($paddings, nav-search-acc-cart);
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: map-get($colors, button-hover-bg);
    color: map-get($colors, text-light);
    box-shadow: map-get($box-shadows, toggle);
  }

  .icon-search {
  @include icon-size (1.6rem, 1.6rem);
  stroke: map-get($colors, icon-search);
  fill: none;
  stroke-width: 2;
}
}

.search-input {
  width: 0;
  border: none;
  border-radius: 0.55rem;
  background: map-get($colors, bg-input);
  color: map-get($colors, navbar-bg);
  font-size: map-get($font-sizes, input);
  text-align: center;
  box-shadow: map-get($box-shadows, input);
  outline: none;
  text-transform: uppercase;
}

.search-form.active .search-input {
  width: 10rem;
  padding: 0.4rem;
}

.search-form.active .search-toggle {
  display: none;
}





