* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tenor Sans", sans-serif;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

hr {
    border: none;
    height: 0.3rem;
    background-color: #75787E;
}