@include respond-to(desktop) {
    .header-section h1 a {
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }
    nav {
    .nav-menu {
        position: absolute;
        top: 1rem;
        left: 1rem;
        max-width: 20rem;
        height: 18rem;
        background: $color-bg-light;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0.2rem 0.125rem .5rem $color-bg-dark;
        border-radius: $border-radius-main;
        z-index: 999;
        display: none;
        padding: 0.5rem 1.5rem;
        gap: 0.6rem;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu a {
        display: flex;
        justify-content: center;
        padding: 0.7rem 1.2rem;
    }
        .nav-toggle {
        display: block;
        position: static;
    }
}

    .footer-column {
        padding: .9375rem 1.875rem;
        font-size: 0.8rem;
    }
}


